* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "poppinslight","poppinsbold",'poppinsextrabold','poppinsextralight','poppinsbold';
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family:"poppinslight","poppinsbold",'poppinsextrabold','poppinsextralight','poppinsbold';
	font-weight: 500;
}

a{
	color: #000;
}
img{
    display: block;
    width: 100%;
}
p{
	line-height:1.6em;
	font-size: 18px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #000;
}
.wrapper{
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
img{
    width: 100%;
    display: block;
}
@font-face {
  font-family: 'poppinsbold';
  src: url('../fonts/poppins/poppins-bold-webfont.woff2') format('woff2'),
       url('../fonts/poppins/poppins-bold-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppinsitalic';
  src: url('../fonts/poppins/poppins-italic-webfont.woff2') format('woff2'),
       url('../fonts/poppins/poppins-italic-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppinslight';
  src: url('../fonts/poppins/poppins-light-webfont.woff2') format('woff2'),
       url('../fonts/poppins/poppins-light-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppinsregular';
  src: url('../fonts/poppins/poppins-regular-webfont.woff2') format('woff2'),
       url('../fonts/poppins/poppins-regular-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

#main { 
  position: relative;
  overflow: hidden;
}
#main .video { 
height: 100%;
display: block;
}
#main .video video { 
width: 100%;
}
#main .wrapper #spotlight .container header { 
  position: fixed;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 16%;
  left: 0px;
  padding: 10px 10px;
  z-index: 100;
  transition: width 0.6s ease, background-color 0.6s ease;
}
.container header:hover {
  background-color: #fff;
  width: 100%;
}
#main .wrapper #spotlight .container header:hover .middle h1 {
  color: black;
}
#main .wrapper #spotlight .container header:hover .right ul li a {
  color: black;
}
#main .wrapper #spotlight .container header:hover .left ul li a {
  color: black;
}
#main .wrapper #spotlight .container header:hover .left ul li .fa-solid {
  color: black;
}
#main .wrapper #spotlight .container header:hover span {
  color: black;
}
.container header.scrolled {
  background-color: white;
  opacity: 0.98;
}
#main .wrapper #spotlight .container header.scrolled .middle h1 {
  color: black;
}
#main .wrapper #spotlight .container header.scrolled .right ul li a {
  color: black;
}
#main .wrapper #spotlight .container header.scrolled .left ul li a {
  color: black;
}
#main .wrapper #spotlight .container header.scrolled .left ul li .fa-solid {
  color: black;
}
#main .wrapper #spotlight .container header.scrolled span {
  color: black;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 26px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.left span {
  font-size: 18px;
  cursor: pointer;
  color: white;
}

#main .wrapper #spotlight .container header .left { 
 display: flex;
 gap: 15px;
}
#main .wrapper #spotlight .container header .left ul { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
#main .wrapper #spotlight .container header .left ul li .fa-solid { 
  color: #fff;
}
#main .wrapper #spotlight .container header .left ul li a { 
  color: #fff;
}
#main .wrapper #spotlight .container header .middle h1 { 
  color: #fff;
  font-size: 3rem;
  font-family: 'poppinsbold';
}
#main .wrapper #spotlight .container header .right ul { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
#main .wrapper #spotlight .container header .right ul li a { 
  color: #fff;
}

#main .wrapper #spotlight .container .flex { 
  display: flex;
  justify-content: center;
}
#main .wrapper #spotlight .container .flex .content { 
  position: absolute;
  bottom: 25%;
  display: flex;
  flex-direction: column;  
  gap: 10px;
}
#main .wrapper #spotlight .container .flex .content h1 { 
  font-size: 35px;
  color: #fff;
  font-family: "Poppins-semiBold";
}
#main .wrapper #spotlight .container .flex .content button { 
  padding: 4px;
  width:40%;
  font-size: 18px;
  border: 2px solid #fff;
  border-radius: 30px;
  font-family: "Poppins-Light";
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
}
#main .wrapper #spotlight .container .flex .content button a { 
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

#about { 
  height: 75vh;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
}
#about .wrapper .links { 
  display: flex;
  justify-content: space-between;
}
#about .wrapper .links .link-boxes .link-name { 
    font-size: 13px;
    letter-spacing: .0625rem;
    line-height: 3rem;
}
#about .wrapper .links .link-boxes li { 
  margin: 6px 0;
}
#about .wrapper .links .link-boxes li a { 
  font-size: 11px;
  letter-spacing: .025rem;
  line-height: 2rem;
  font-family: 'poppinsregular';
}
.underline{
  box-shadow: 0 2px 0 -1px #000;
}
footer { 
  min-height: 64vh;
  padding: 20px 0;
}
footer .wrapper .footer-top { 
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .wrapper .footer-top .footer-top-left { 
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .wrapper .footer-top .footer-top-left img { 
  width: 16px;
  height: 15px;
  margin-right: 10px;
}
footer .wrapper .footer-top .footer-top-left a { 
  font-size: 13px;
  letter-spacing: .0625rem;
  line-height: 3rem;
  font-weight: 500;
}
footer .wrapper .footer-top .footer-top-right .one { 
  margin-right: 15px;
}
footer .wrapper .footer-top .footer-top-right span a { 
  font-size: 13px;
  letter-spacing: .0625rem;
  line-height: 3rem;
  font-weight: 500;
}
footer .wrapper .footer-middle { 
  padding: 80px 0;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  width: calc(145% / 2 - 10px);
}
footer .wrapper .footer-middle .contact p { 
  font-size: .75rem;
  letter-spacing: .0625rem;
  line-height: 25px;
  color: #a1a1a1;
}
footer .wrapper .footer-middle .contact p b { 
  font-size: .75rem;
  font-weight: 700;
  color: #a1a1a1;
  letter-spacing: .0625rem;
  line-height: 4;
}
footer .wrapper .footer-bottom> { 
  padding: 40px;
  margin: 25px;
}
footer .wrapper .footer-bottom> h1 { 
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: 'poppinsbold';
}

/* main */

@media all and (max-width: 980px) {
  #main .wrapper #spotlight .container header:hover .middle h1 {
    font-size: 38px;
  }
  #main .wrapper #spotlight .container header .middle h1 {
    font-size: 38px;
  }
}

@media all and (max-width: 768px) {
  #main .wrapper #spotlight .container header.scrolled .right ul li a {
    display: none;
  }
  #main .wrapper #spotlight .container header .right ul li a {
    display: none;
  }
  #main .wrapper #spotlight .container header .left {
    flex-direction: column;
  }
  #main .wrapper #spotlight .container header.scrolled span {
    font-size: 13px;
  }
  .left span {
    font-size: 13px;
  }
  #main .wrapper #spotlight .container header:hover .left ul li a {
    font-size: 13px;
  }
  #main .wrapper #spotlight .container header .left ul li a {
    font-size: 13px;
  }
  #main .wrapper #spotlight .container header:hover .left ul li .fa-solid {
    font-size: 13px;
  }
  #main .wrapper #spotlight .container header .left ul li .fa-solid {
    font-size: 13px;
  }
  #main .wrapper #spotlight .container .flex .content h1 {
    font-size: 26px; 
  }
}

@media all and (max-width: 640px) {
  #main .wrapper #spotlight .container .flex .content h1 {
    font-size: 21px;
  }
  #main .wrapper #spotlight .container .flex .content {
    bottom: 10%;
  }
}

@media all and (max-width: 540px) { 
  #main .wrapper #spotlight .container header {
  height: 77px;
 }
 #main .wrapper #spotlight .container header .left {
  gap: 5px;
 }
 #main .wrapper #spotlight .container .flex .content {
  bottom: 10%;
 }
}

@media all and (max-width: 480px) {
  #main .wrapper #spotlight .container header:hover .middle h1 {
    font-size: 27px;
  }
  #main .wrapper #spotlight .container header .middle h1 {
    font-size: 27px;
  }
  #main .wrapper #spotlight .container header:hover span {
    font-size: 11px;
  }
  .left span {
    font-size: 11px;
  }
  #main .wrapper #spotlight .container header:hover .left ul li a {
    font-size: 11px;
  }
  #main .wrapper #spotlight .container header .left ul li a {
    font-size: 11px;
  }
  #main .wrapper #spotlight .container header:hover .left ul li .fa-solid {
    font-size: 11px;
  }
  #main .wrapper #spotlight .container header .left ul li .fa-solid {
    font-size: 11px;
  }
  #main .wrapper #spotlight .container .flex .content button a {
    font-size: 13px;
  }
  #main .wrapper #spotlight .container .flex .content h1 {
    font-size: 18px;
  }
  #main .wrapper #spotlight .container .flex .content {
    bottom: 9%;
  }
}

/* footer */

@media all and (max-width: 1280px) {
  #about {
    padding: 20px 10px;
    height: 17%;
  }
  footer .wrapper .footer-top {
    padding: 0px 10px;
  }
  footer .wrapper .footer-middle {
    padding: 40px 10px;
  }
}

@media all and (max-width: 1080px) {
  footer .wrapper .footer-middle {
    gap: 10rem;
    width: 84%; 
  }
}

@media all and (max-width: 980px) {
  footer .wrapper .footer-middle {
    width: 98%;
    gap: 10rem;
  }
  #about .wrapper .links .link-boxes li a {
    display: none;
  }
  footer .wrapper .footer-middle {
    padding: 15px 10px;
  }
}

@media all and (max-width: 768px) {
  footer .wrapper .footer-middle {
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px
  }
  #about {
    padding: 20px 34px 
  }
}

@media all and (max-width: 640px) {
  footer .wrapper .footer-middle {
    padding: 10px 18px; 
  }
  footer .wrapper .footer-top {
    padding: 0px 13px; 
  }
}

@media all and (max-width: 540px) {
  #about {
    padding: 18px 12px;
  }
  footer .wrapper .footer-middle {
    padding: 10px 18px;
  }

}

@media all and (max-width: 480px) {
  #about .wrapper .links {
    flex-direction: column;
  }
  #about .wrapper .links .link-boxes .link-name {
    text-align: center;
  }
  footer .wrapper .footer-middle {
    padding: 20px 18px 
  }
}